html {
	min-height: 100%;
	height: 100%;
}

body {
	background-image: url("/assets/images/bg-pattern.png");
	background-repeat: repeat;
	font-family: 'Nova Flat', cursive;
	border-top: 5px solid #337ab7;
	overflow: hidden;
}

h1 {
	color: #214d85;
}

h2 {
	color: #858686;
}

.social a {
	color: #9a9a9a
}

.social a:hover, .social a:active, .social a:focus {
	color: #337ab7
}